@import url('https://fonts.googleapis.com/css?family=Domine:700|Roboto|Roboto+Slab:300&display=swap');
$font-nav:'Roboto Slab',
serif;

$font-h1:'Domine',
serif;

$font-generic:'Roboto',
sans-serif;

$font-h2:'Archivo Black',
sans-serif;
