<h1 class="text-center">New Arrivals</h1>
<div class="row p-5">
  <div class="col">
    <div class="card-columns">
      <div *ngFor="let product of products" class="card">
        <img src="{{ product.imagePath }}" class="card-img-top" />
        <div class="card-body text-center">
          <a
            class="card-text font-weight-bold"
            [routerLink]="['products/details', product._id]"
          >
            {{ product.name }}
          </a>
          <br />
          <span class="price-text font-weight-bold">${{ product.price }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
