<div class="row">
    <div class="col-lg-7">
        <h1 class="font-weight-bold mb-4">Create a new Cartify online account</h1>
        <p class="form-header">* Required Information</p>
        <form (ngSubmit)='register()' #formData='ngForm' class="needs-validation" novalidate>
            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <label for="email">Email address*</label>
                        <input type="email" class="form-control mb-3" 
                        [class.is-valid]="email.valid"
                        [class.is-invalid]="email.dirty && email.invalid"
                        required
                        pattern='^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$'
                        name="newUser.email" 
                        [(ngModel)]="newUser.email"
                        #email="ngModel"
                        >
                        <div class="invalid-feedback">
                            Must be a valid email
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <label for="password">Password *</label>
                        <input type="password" class="form-control" 
                        [class.is-valid]="password.valid" 
                        [class.is-invalid]="password.dirty && password.invalid"
                        required
                        pattern='^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$'
                        name="newUser.password"
                        [(ngModel)]="newUser.password"
                        #password="ngModel"
                        >
                        <small class="mb-3">Minimum of 8 characters containing one number and special character</small>
                        <div class="valid-feedback">
                            Perfect!
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-info mt-3" [disabled]='formData.invalid'>Create Account</button>
                </div>
            </div>
            <div class="row">
                <div class="col" *ngFor="let error of errors">
                    <p class="text-center text-danger">* {{error}} *</p>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row m-5">
    <div class="col">
        <p class="text-center">How are we doing? <span><a href="/feedback">Give us feedback</a></span> on this page.</p>
    </div>
</div>