<div id="footer" class="row mt-5 underline-row justify-content-around">
  <div class="col-lg-6 col-12 p-5">
    <ul>
      <li>
        <p class="text-left text-uppercase list-header text-print">
          Become a member and get 10% discount on your first purchase
        </p>
        <p class="text-print">
          Sign up now and recieve a 10% discount on your first purchase! Members
          also get a chance to win a $50 gift card every month.
          <span class="learn-more"
            ><a [routerLink]="['cartify']"
              >Learn more info and join us.</a
            ></span
          >
        </p>
        <small class="text-print">* Only with purchasess more than $50</small>
      </li>
    </ul>
  </div>
  <div class="col-lg-6 col-12 p-5">
    <ul>
      <li>
        <p class="text-left text-uppercase list-header">
          Apply for a mastercard
        </p>
        <p class="text-print">
          Get 1% cash back on all purchases and 2% everytime you fill up your
          gass. Low APR rating. No sign up fee. 24/7 support helpline.
        </p>
      </li>
    </ul>
  </div>
</div>
<div id="footer" class="row underline-row d-flex justify-content-around">
  <div class="col-lg-4 my-auto p-5">
    <div class="row contact-info py-2">
      <div class="col-12 ">
        <p>
          <i class="fas fa-phone-alt"
            ><span class="push-icon">1-800-123-4567</span></i
          >
        </p>
      </div>
    </div>
    <div class="row contact-info py-2">
      <div class="col-12">
        <p>
          <i class="fas fa-envelope"
            ><span class="push-icon"
              ><a href="mailto:cartify@email.com?subject=Cartify Help"
                >Email Us</a
              ></span
            ></i
          >
        </p>
      </div>
    </div>
    <div class="row contact-info py-1">
      <div class="col-12">
        <p class="footer-links">
          <i class="fas fa-question-circle"
            ><span class="push-icon">Help Center</span></i
          >
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12 p-5">
    <ul>
      <li class="text-print py-2">
        <a *ngIf="!_authService.loggedIn()" [routerLink]="['sign-in']"
          >Your online account</a
        >
        <a *ngIf="loggedUser" [routerLink]="['account', loggedUser?._id]"
          >Your online account</a
        >
      </li>
      <li class="text-print py-2">
        <p class="footer-links">About Us</p>
      </li>
      <li class="text-print py-2">
        <p class="footer-links">Return Policy</p>
      </li>
      <li class="text-print py-2">
        <p class="footer-links">Membership</p>
      </li>
    </ul>
  </div>
  <div class="col-lg-4 col-12 p-5">
    <ul>
      <li class="text-print py-2">
        <p class="footer-links">Store Events</p>
      </li>
      <li class="text-print py-2">
        <p class="footer-links">Gift Cards</p>
      </li>
      <li class="text-print py-2">
        <p class="footer-links">Coupons and Discounts</p>
      </li>
      <li class="text-print py-2"><p class="footer-links">Jobs</p></li>
    </ul>
  </div>
</div>
<div id="footer" class="row footer-contact">
  <div class="col-6 p-5 copyright">
    <i class="fas fa-copyright"
      ><span class="push-icon copyright">2020 Cartify Inc.</span></i
    >
  </div>
  <div class="col-md-6 col-12 p-5 social-links">
    <a href="http://www.facebook.com"
      ><i class="fab fa-facebook-f px-4 social-media"></i
    ></a>
    <a href="http://www.twitter.com"
      ><i class="fab fa-twitter px-4 social-media"></i
    ></a>
    <a href="http://www.instagram.com"
      ><i class="fab fa-instagram px-4 social-media"></i
    ></a>
  </div>
</div>
