@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Domine:700|Roboto|Roboto+Condensed|Roboto+Slab:700&display=swap');
// font-family: 'Archivo Black', sans-serif;
// font-family: 'Domine', serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Roboto Slab', serif;


// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) {
//   ...
// }

// // Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) {
//   ...
// }

// // Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) {
//   ...
// }

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) {
//   ...
// }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Extra small devices (portrait phones, less than 576px)
$max-xs-width: 576.98px;

// // Small devices (landscape phones, less than 768px)
$max-sm-width: 768px;

// // Medium devices (tablets, less than 992px)
$max-xl-width: 991.98px;

// // Large devices (desktops, less than 1200px)
$max-lg-width: 1199.98px;


$text-color: #CCC;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#footer {
  background-color: #000;
}

.underline-row {
  border-bottom: solid 1px #666;

  &:last-child {
    border-bottom: none;
  }
}

.text-print {
  color: $text-color;
}

p {
  color: #CCCCCC;
  padding-top: 10px;
  line-height: 1.5;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

ul {
  list-style: none;
}

.list-header {
  color: #a1c900;
}

a,
i {
  color: $text-color
}

.contact-info {
  text-decoration: none;

  p {
    font-size: 20px;
  }
}

.learn-more {
  text-decoration: underline;
}

.push-icon {
  padding-left: 10px;
  color: $text-color;
}

.copyright {
  font-size: 22px;
}

.social-media {
  font-size: 28px;

}

.social-links {
  text-align: right;
}

@media(max-width:$max-sm-width) {
  .copyright {
    display: none;
  }

  .social-links {
    text-align: center;
  }
}
