@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Domine:700|Inconsolata|Roboto|Roboto+Condensed|Roboto+Slab:700&display=swap');

// font-family: 'Archivo Black', sans-serif;
// font-family: 'Domine', serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Roboto Slab', serif;
// font-family: 'Inconsolata', monospace;

$font-h1:'Domine',
serif;
$font-h1-alternative:'Inconsolata',
monospace;
$font-h2:'Archivo Black',
sans-serif;
$font-h5:'Roboto Condensed',
sans-serif;

$font-nav:'Roboto Slab',
serif;

$font-generic:'Roboto',
sans-serif;

h1 {
  font-family: $font-h1-alternative
}

p {
  font-family: $font-generic;
}

.add-btn {
  margin-left: 10px;
}

.fa-check-circle {
  color: #a1c900;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn-checkout:hover {
  color: #5bc0de !important;
  background-color: transparent !important;
}
