<div id="details" *ngIf="oneProduct" class="row">
  <div class="col-md-6">
    <img src="{{ oneProduct.imagePath }}" />
  </div>
  <div class="col-md-6">
    <h1>{{ oneProduct.name }}</h1>
    <h2 class="text-info">{{ oneProduct.description }}</h2>
    <p class="text-info">${{ oneProduct.price }}</p>
    <div class="form-row">
      <div class="input-group col-md-6 offset-md-4">
        <button (click)="minusCount()" class="btn minus-btn" type="button">
          <i class="fas fa-minus"></i>
        </button>
        <input
          type="text"
          [(ngModel)]="qty"
          name="qty"
          class="form-control col-2 text-center"
          id="inlineFormInputGroupUsername"
        />
        <button (click)="addCount()" class="btn add-btn" type="button">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="col m-2">
      <button
        (click)="addToOrder(oneProduct._id, qty)"
        type="button"
        class="btn btn-primary col-6"
      >
        Add to cart
      </button>
    </div>
  </div>
</div>
