<div id="feature" class="row p-2">
  <div class="col-lg-6 col-12">
    <div class="card mb-3">
      <img src="./../../../assets/img/men-outfit.jpg" class="card-img-top" />
      <div class="row">
        <div class="col-lg-6 text-center">
          <div class="card-body">
            <p class="card-text font-weight-bold mb-0 pokodotted">$32.99</p>
            <p class="card-text">
              <small class="text-dark">Pokodotted shirt</small>
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card-body">
            <p class="card-text font-weight-bold mb-0">$52.99</p>
            <p class="card-text">
              <small class="text-dark">Brown shoes</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12  my-auto p-5">
    <h2 class="font-weight-bold">Looks the same. Made a whole lot smarter.</h2>
    <p>
      Lookout for Fall clothing collection coming out soon next month! While
      you're at it, checkout for sales from
      <span><a href="#">last season's lineup.</a></span>
    </p>
  </div>
</div>
