<div class="row p-2">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-6 col-12 text-center p-5">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione sint ipsam nam, repellendus quis fugit officia repellat adipisci, velit pariatur dolores vel inventore laudantium provident et autem voluptas, a optio?
            </div>
            <div class="col-lg-6 col-12 text-center p-5">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione sint ipsam nam, repellendus quis fugit officia repellat adipisci, velit pariatur dolores vel inventore laudantium provident et autem voluptas, a optio?
            </div>
        </div>
    </div>
</div>
