<div id="home-component" class="row p-4">
  <div class="col">
    <h1 *ngIf="loggedUser" class="text-center">
      Hello, {{ loggedUser.first_name }} {{ loggedUser.last_name }}
    </h1>
    <div class="row">
      <div class="col text-center">
        <h5 class="font-weight-bold">
          <a [routerLink]="['/registration']"> Not a member?</a>
        </h5>
      </div>
    </div>
    <div id="card-container" class="row my-5">
      <div class="col-lg-6 col-12">
        <div class="card m-4">
          <div class="card-header">
            <h5>Purchase History</h5>
          </div>
          <div class="card-body">
            <ul class="col-12 account-info">
              <li>
                <a href="/cartify/home">View your purchase history</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card m-4">
          <div class="card-header">
            <h5>Billing & shipping addresses</h5>
          </div>
          <div class="card-body">
            <ul class="col-12 account-info">
              <li>
                <a>Manage your address information</a>
              </li>
              <li>
                <a>Add a new address</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card m-4">
          <div class="card-header">
            <h5>Membership information</h5>
          </div>
          <div class="card-body">
            <ul class="col-12 account-info">
              <li>
                <a>Member lookup information</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="card m-4">
          <div class="card-header">
            <h5>Account information</h5>
          </div>
          <div class="card-body">
            <ul class="col-12 account-info">
              <li>
                <a [routerLink]="['/cartify/account/personal/:id']"
                  >Personal details</a
                >
              </li>
              <li>
                <a>Manage payments</a>
              </li>
              <li>
                <a>Login with you Google account</a>
              </li>
              <li>
                <a>Login with your Facebook account</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card m-4">
          <div class="card-header">
            <h5>Need help?</h5>
          </div>
          <div class="card-body">
            <ul class="col-12 account-info">
              <li>
                <a>Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
