<div id="feature" class="row p-2">
  <div class="col-lg-6 col-12">
    <div class="card mb-3">
      <img src="./../../../assets/img/men-outfit.jpg" class="card-img-top" />
      <div class="row justify-content-between">
        <div class="col-6">
          <div class="card-body text-center">
            <p class="card-text font-weight-bold mb-0 pokodotted">$32.99</p>
            <p class="card-text">
              <small class="text-dark">Pokodotted shirt</small>
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="card-body text-center">
            <p class="card-text font-weight-bold mb-0">$52.99</p>
            <p class="card-text">
              <small class="text-dark">Brown shoes</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="season-sale" class="col-lg-6">
    <div class="col-12 clearance">
      <p class="clearance-text display-4">Clearance SALE!!!</p>
      <p class="animated bounce infinite slow animated-text display-4">
        Save up to 80%
      </p>
    </div>
  </div>
</div>
