<div id="trending" class="row p-3">
  <div class="col-6 text-center my-auto">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, facilis
    omnis. Id recusandae aliquid dolores, nulla officiis iste neque nihil aut
    voluptates quam ducimus veniam necessitatibus consequuntur odio error autem.
    Et, distinctio sequi. Nihil ad itaque dolor aspernatur, non quo?
    <div class="row">
      <div class="col">
        <button class="btn btn-primary">Shop electric bikes</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img
      id="rock-climber"
      class="col-12 offset-md-2 "
      src="./../../../assets/img/rock_climber_318x480.jpg"
      alt="rock climber"
    />
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-12">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis molestias
    sapiente, quod dolorum itaque odit. Deleniti dolor necessitatibus magnam
    architecto optio ab a dolores, veritatis magni velit consectetur voluptates
    et atque molestias eligendi! Harum, unde ducimus qui impedit eaque
    temporibus veritatis fugit pariatur commodi deleniti debitis cupiditate.
    Vero, vitae rem.
  </div>
  <div class="col-lg-4 col-12">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia ad
    recusandae modi totam qui itaque porro quasi. Quia earum vero, delectus at
    quae quo maiores minus tenetur pariatur corrupti sapiente.
  </div>
  <div class="col-lg-4 col-12">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt laborum amet
    dolore saepe tenetur asperiores.
  </div>
</div>
