@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Domine:700|Roboto|Roboto+Slab:700&display=swap');

$font-h2:'Archivo Black',
sans-serif;

$font-nav:'Roboto Slab',
serif;

$font-h1:'Domine',
serif;

$font-generic:'Roboto',
sans-serif;

body,
html {
  margin: 0;
  padding: 0
}
