@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Domine:700|Roboto|Roboto+Condensed|Roboto+Slab:700&display=swap');

$font-h1:'Domine',
serif;
$font-h2:'Archivo Black',
sans-serif;
$font-h5:'Roboto Condensed',
sans-serif;

$font-nav:'Roboto Slab',
serif;

$font-generic:'Roboto',
sans-serif;

h5 {
  font-family: $font-h5;
}

p {
  font-family: $font-generic;
}

.search-bar {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 8px;
  top: 8px;
}

.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.card {
  max-height: 100%;
}
