<div id="trending" class="row p-3">
  <div class="col-md-6 my-4 text-center">
    <img
      id="rock-climber"
      class="col-md-12 img-fluid"
      src="./../../../assets/img/rock_climber_318x480.jpg"
      alt="rock climber"
    />
  </div>
  <div class="col-md-6 text-center my-auto">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, facilis
    omnis. Id recusandae aliquid dolores, nulla officiis iste neque nihil aut
    voluptates quam ducimus veniam necessitatibus consequuntur odio error autem.
    Et, distinctio sequi. Nihil ad itaque dolor aspernatur, non quo?
    <div class="row pt-3">
      <div class="col">
        <button [routerLink]="['products/sportswear']" class="btn btn-primary">
          Shop climbing gears from LA Sportiva and other big brands
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-12 online-detail">
    <h1 class="text-center">
      Order online. Pick it up at the store. Enjoy!
    </h1>
    <p class="text-center">
      Now all on the same day.
      <a [routerLink]="['stores']"> Get the details.</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <hr />
  </div>
</div>
