<div *ngIf="currentCart" class="row mt-5">
  <div class="col-md-8">
    <ul class="list-unstyled" *ngFor="let cart of cartItems">
      <li class="media py-4">
        <div class="media-pic">
          <img
            [routerLink]="['/cartify/products/details', cart.item._id]"
            src="{{ cart.item.imagePath }}"
            class="mr-1"
          />
        </div>
        <div class="media-body pl-3">
          <h5 class="mt-0 mb-1">
            {{ cart.item.brand }}
          </h5>
          <p>
            <a [routerLink]="['/cartify/products/details', cart.item._id]">
              <h5 class="mb-1">
                {{ cart.item.name }}
              </h5>
            </a>
            <span class="product-price">${{ cart.item.price }}</span>
          </p>
          <p>Description: {{ cart.item.description }}</p>
          <p>Quantity: {{ cart.qty }}</p>
          <p>Total: ${{ cart.price }}</p>
          <a href="">Quantitiy</a>
          |
          <button (click)="removeItem(cart.item._id)" class="btn btn-danger">
            Delete
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-2 offset-md-1">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Total</h5>
        <!-- <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p> -->
      </div>
      <ul class="list-group ">
        <li class="list-group-item">Total items: {{ currentCart.totalQty }}</li>
        <li class="list-group-item">Tax: $ {{ taxString }}</li>
        <li class="list-group-item">Total price: $ {{ totalSum }}</li>
      </ul>
      <div class="card-body justify-content-center">
        <button class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <ng-container *ngIf="!currentCart">
      <h1 class="mt-5 text-center">Your cart is empty</h1>
    </ng-container>
  </div>
</div>
